.banner {
    background-image: linear-gradient(to left, #3d3c3c00, #000000bd), url("https://candepizza.com/img/slides/slide1.jpg");
    background-size: cover;
    background-position:0rem -8rem;
    padding: 0 2rem;
}


@media (min-width: 768px) {
   .banner{
    background-size: cover;
   }
}
.pizzas-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
}